<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1 th:text="Bienbenido"></h1>
    <form th:action="@{/traer}" method="get">
        <input type="text" placeholder="Search" name="nombre">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div th:if="${Pokemon != null}">
        <p th:text="${Pokemon.getName()}"></p>
    </div>
</body>
</html>